body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(138, 153, 145);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

#brand{
    font-size: 1.4rem;
    color: crimson;
    font-size: bolder;
    cursor: pointer;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
}
nav ul li:hover{
    cursor: pointer;
    font-weight: 500px;
    color: rgb(179, 62, 179);
    
    
}

nav .cta{
    color: #fff;
    border: none;
    background-color: crimson;
    padding: 6px 15px;
    border-radius:6px;
    cursor: pointer;
    font-weight: bold;
}


.mobile_menu{
    display:none;
    align-content: center;
    justify-content: space-between;
    padding: 30px;
}
img{
    width: 300px;
align-items: center;

}
h1{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    gap: 30px;
}
h2{
    text-align: center;
    gap: 50px;
    color: black;
}
h3{
    text-align: center;
    color: blue;
    gap: 50px;
}
h4 {
    text-align: center;
    color: rgb(61, 61, 124);
    gap: 40px;
    
}
section p{
    color: #616161;
    text-align: center;

}
section button{
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

section button:hover{
    text-decoration: underline;
    color: deeppink;
    align-items: center;
    gap: 60px;
}
button span{
    font-size: 1rem;
}
footer p{
    text-align: center;
}

@media screen and(max-width: 700px){
    nav ul, nav button{
        display: none;
    }
    .mobile_menu{
        display: block;
        cursor: pointer;
    }
    main{
        flex-direction: column;

    }
section{
    display:flex;
    flex-direction: column;
    align-items: center;
}
img{
    width:250px;
    background-color: blueviolet;
    text-align: center;
}

}